
div.authentication_select_method_bigbutton #authentication_select_method_fconnect_facebook {
    background-image: url("../images/facebook-medium.png");
    display:inline-block;
    height:22px;
    padding:43px 5px 5px 5px;
}

div.authentication_select_method_bigbutton #authentication_select_method_fconnect_facebook:hover {
    background-image: url("../images/facebook-medium.png");
    display:inline-block;
    height:22px;
    padding:41px 3px 3px 3px;
}

div.authentication_select_method_smallbutton {
    background-image: url("../images/facebook-small.png");
}

div#users_loginblock_authentication_method_selectors {
    background-image: url("../images/facebook-extrasmall.png");
}
